.icon-48-service_logs {
      background-image: url(../images/l_service_logs.png);
      padding-left:60px!important;
}

.icon-48-service_log {
      background-image: url(../images/l_service_logs.png);
      padding-left:60px!important;
}

